streamlit==1.28.0
pypdf2==3.0.1

langchain==0.0.325
python-dotenv==1.0.0

faiss-cpu==1.7.4

openai==0.28.1
tiktoken==0.5.1

streamlit-authenticator==0.1.5 #https://pypi.org/project/streamlit-authenticator/